<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
				<string>markdown</string>
				<string>mdown</string>
				<string>mdx</string>
				<string>rmd</string>
				<string>qmd</string>
				<string>apib</string>
				<string>mdc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Markdown Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
				<string>public.markdown</string>
				<string>com.unknown.md</string>
				<string>io.typora.markdown</string>
				<string>net.ia.markdown</string>
				<string>com.rstudio.rmarkdown</string>
				<string>org.quarto.qmarkdown</string>
				<string>org.apiblueprint.file</string>
				<string>local.markdownquicklook.mdx</string>
				<string>local.markdownquicklook.cursor-rules</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>markdown</string>
					<string>mdown</string>
				</array>
				<key>public.mime-type</key>
				<string>text/markdown</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown Document</string>
			<key>UTTypeIdentifier</key>
			<string>public.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
					<string>markdown</string>
					<string>mdown</string>
				</array>
				<key>public.mime-type</key>
				<string>text/markdown</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.markdown</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>R Markdown Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.rstudio.rmarkdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>rmd</string>
				<key>public.mime-type</key>
				<string>text/markdown</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.markdown</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Quarto Markdown Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.quarto.qmarkdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>qmd</string>
				<key>public.mime-type</key>
				<string>text/markdown</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.markdown</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>API Blueprint Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.apiblueprint.file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>apib</string>
				<key>public.mime-type</key>
				<string>text/markdown</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.markdown</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDX Document</string>
			<key>UTTypeIdentifier</key>
			<string>local.markdownquicklook.mdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mdx</string>
				<key>public.mime-type</key>
				<string>text/markdown</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.markdown</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cursor Markdown Rules Document</string>
			<key>UTTypeIdentifier</key>
			<string>local.markdownquicklook.cursor-rules</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mdc</string>
				<key>public.mime-type</key>
				<string>text/markdown</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
